[:top
 {:skip nil, :limit 100}
 [:project
  [{s_acctbal s.2/s_acctbal}
   {s_name s.2/s_name}
   {s_address s.2/s_address}
   {s_phone s.2/s_phone}
   {s_comment s.2/s_comment}
   {partkey p.1/partkey}
   {p_mfgr p.1/p_mfgr}
   {n_name n.4/n_name}]
  [:order-by
   [[s.2/s_acctbal {:direction :desc, :null-ordering :nulls-first}]
    [n.4/n_name {:direction :asc, :null-ordering :nulls-last}]
    [s.2/s_name {:direction :asc, :null-ordering :nulls-last}]
    [p.1/partkey {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [s.2/s_acctbal
     s.2/s_name
     s.2/s_address
     s.2/s_phone
     s.2/s_comment
     p.1/partkey
     p.1/p_mfgr
     n.4/n_name]
    [:map
     [{_sq_6 _min_out_12}]
     [:select
      (= ps.3/ps_supplycost _min_out_12)
      [:group-by
       [p.1/p_type
        p.1/partkey
        p.1/p_size
        p.1/p_mfgr
        s.2/s_name
        s.2/nationkey
        s.2/s_acctbal
        s.2/s_address
        s.2/s_phone
        s.2/suppkey
        s.2/s_comment
        ps.3/partkey
        ps.3/suppkey
        ps.3/ps_supplycost
        n.4/nationkey
        n.4/n_name
        n.4/regionkey
        r.5/r_name
        r.5/regionkey
        _row_number_0
        {_min_out_12 (min ps.7/ps_supplycost)}]
       [:left-outer-join
        [{p.1/partkey ps.7/partkey}]
        [:map
         [{_row_number_0 (row-number)}]
         [:mega-join
          [{n.4/regionkey r.5/regionkey}
           {s.2/nationkey n.4/nationkey}
           {p.1/partkey ps.3/partkey}
           {s.2/suppkey ps.3/suppkey}]
          [[:rename
            r.5
            [:scan
             {:table public/region}
             [{r_name (= r_name "EUROPE")} regionkey]]]
           [:rename
            n.4
            [:scan
             {:table public/nation}
             [nationkey n_name regionkey]]]
           [:rename
            ps.3
            [:scan
             {:table public/partsupp}
             [partkey suppkey ps_supplycost]]]
           [:rename
            p.1
            [:scan
             {:table public/part}
             [{p_type (like p_type "%BRASS")}
              partkey
              {p_size (= p_size 15)}
              p_mfgr]]]
           [:rename
            s.2
            [:scan
             {:table public/supplier}
             [s_name
              nationkey
              s_acctbal
              s_address
              s_phone
              suppkey
              s_comment]]]]]]
        [:mega-join
         [{n.9/regionkey r.10/regionkey}
          {s.8/nationkey n.9/nationkey}
          {ps.7/suppkey s.8/suppkey}]
         [[:rename
           r.10
           [:scan
            {:table public/region}
            [{r_name (= r_name "EUROPE")} regionkey]]]
          [:rename
           n.9
           [:scan {:table public/nation} [nationkey regionkey]]]
          [:rename
           ps.7
           [:scan
            {:table public/partsupp}
            [partkey suppkey ps_supplycost]]]
          [:rename
           s.8
           [:scan
            {:table public/supplier}
            [nationkey suppkey]]]]]]]]]]]]]
