[:project
 [{nation profit.7/nation} {o_year profit.7/o_year} sum_profit]
 [:order-by
  [[profit.7/nation {:direction :asc, :null-ordering :nulls-last}]
   [profit.7/o_year {:direction :desc, :null-ordering :nulls-first}]]
  [:project
   [profit.7/nation profit.7/o_year {sum_profit _sum_out_8}]
   [:group-by
    [profit.7/nation
     profit.7/o_year
     {_sum_out_8 (sum profit.7/amount)}]
    [:rename
     profit.7
     [:project
      [{nation n.6/n_name}
       {o_year (extract "YEAR" o.5/o_orderdate)}
       {amount
        (-
         (* l.3/l_extendedprice (- 1 l.3/l_discount))
         (* ps.4/ps_supplycost l.3/l_quantity))}]
      [:mega-join
       [{s.2/nationkey n.6/nationkey}
        {l.3/orderkey o.5/orderkey}
        {l.3/suppkey ps.4/suppkey}
        {l.3/partkey ps.4/partkey}
        {s.2/suppkey l.3/suppkey}
        {p.1/partkey l.3/partkey}]
       [[:rename n.6 [:scan {:table public/nation} [nationkey n_name]]]
        [:rename
         o.5
         [:scan {:table public/orders} [o_orderdate orderkey]]]
        [:rename
         ps.4
         [:scan
          {:table public/partsupp}
          [partkey suppkey ps_supplycost]]]
        [:rename
         l.3
         [:scan
          {:table public/lineitem}
          [l_quantity
           l_discount
           partkey
           l_extendedprice
           suppkey
           orderkey]]]
        [:rename
         p.1
         [:scan
          {:table public/part}
          [partkey {p_name (like p_name "%green%")}]]]
        [:rename
         s.2
         [:scan {:table public/supplier} [nationkey suppkey]]]]]]]]]]]
