[:top
 {:skip nil, :limit 100}
 [:project
  [{s_name s.1/s_name} numwait]
  [:order-by
   [[numwait {:direction :desc, :null-ordering :nulls-first}]
    [s.1/s_name {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [s.1/s_name {numwait _row_count_13}]
    [:group-by
     [s.1/s_name {_row_count_13 (row-count)}]
     [:map
      [{_sq_5 true}]
      [:map
       [{_sq_9 true}]
       [:mega-join
        [{s.1/nationkey n.4/nationkey}
         {l1.2/orderkey o.3/orderkey}
         {s.1/suppkey l1.2/suppkey}]
        [[:rename
          n.4
          [:scan
           {:table public/nation}
           [nationkey {n_name (= n_name "SAUDI ARABIA")}]]]
         [:rename
          o.3
          [:scan
           {:table public/orders}
           [{o_orderstatus (= o_orderstatus "F")} orderkey]]]
         [:rename
          s.1
          [:scan {:table public/supplier} [s_name nationkey suppkey]]]
         [:semi-join
          [(<> suppkey l1.2/suppkey) {l1.2/orderkey orderkey}]
          [:anti-join
           [(<> suppkey l1.2/suppkey) {l1.2/orderkey orderkey}]
           [:rename
            l1.2
            [:select
             (> l_receiptdate l_commitdate)
             [:scan
              {:table public/lineitem}
              [l_receiptdate l_commitdate suppkey orderkey]]]]
           [:project
            [{l_comment l3.10/l_comment}
             {l_commitdate l3.10/l_commitdate}
             {l_discount l3.10/l_discount}
             {l_extendedprice l3.10/l_extendedprice}
             {l_linenumber l3.10/l_linenumber}
             {l_linestatus l3.10/l_linestatus}
             {l_quantity l3.10/l_quantity}
             {l_receiptdate l3.10/l_receiptdate}
             {l_returnflag l3.10/l_returnflag}
             {l_shipdate l3.10/l_shipdate}
             {l_shipinstruct l3.10/l_shipinstruct}
             {l_shipmode l3.10/l_shipmode}
             {l_tax l3.10/l_tax}
             {orderkey l3.10/orderkey}
             {partkey l3.10/partkey}
             {suppkey l3.10/suppkey}]
            [:rename
             l3.10
             [:select
              (> l_receiptdate l_commitdate)
              [:scan
               {:table public/lineitem}
               [l_shipinstruct
                l_discount
                l_receiptdate
                l_returnflag
                l_commitdate
                l_extendedprice
                suppkey
                orderkey
                l_linenumber
                l_shipdate
                l_quantity
                l_comment
                partkey
                l_shipmode
                l_linestatus
                l_tax]]]]]]
          [:project
           [{l_comment l2.6/l_comment}
            {l_commitdate l2.6/l_commitdate}
            {l_discount l2.6/l_discount}
            {l_extendedprice l2.6/l_extendedprice}
            {l_linenumber l2.6/l_linenumber}
            {l_linestatus l2.6/l_linestatus}
            {l_quantity l2.6/l_quantity}
            {l_receiptdate l2.6/l_receiptdate}
            {l_returnflag l2.6/l_returnflag}
            {l_shipdate l2.6/l_shipdate}
            {l_shipinstruct l2.6/l_shipinstruct}
            {l_shipmode l2.6/l_shipmode}
            {l_tax l2.6/l_tax}
            {orderkey l2.6/orderkey}
            {partkey l2.6/partkey}
            {suppkey l2.6/suppkey}]
           [:rename
            l2.6
            [:scan
             {:table public/lineitem}
             [l_shipinstruct
              l_receiptdate
              l_discount
              l_returnflag
              l_commitdate
              l_extendedprice
              suppkey
              orderkey
              l_linenumber
              l_shipdate
              l_quantity
              l_comment
              partkey
              l_shipmode
              l_linestatus
              l_tax]]]]]]]]]]]]]]
