[:delete
 {:table users}
 [:project
  [{xt$valid_from
    (greatest xt$valid_from (cast-tstz (current-timestamp)))}
   xt$valid_to
   xt$iid
   xt$system_from
   xt$system_to]
  [:select
   (= id ?_0)
   [:scan
    {:for-valid-time
     [:between #time/date "2020-05-01" xtdb/end-of-time]}
    [xt$valid_to
     xt$system_from
     xt$iid
     xt$system_to
     xt$valid_from
     id]]]]]
