{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 4,
                   :bytes
                   {:bloom
                    #bytes "3a3000000e0000000000000001000200040000000b00000011000100120000001e0000001f0000002000010021000100250000002b0000003000000038000100780000007a000000800000008200000084000000880000008a0000008c0000008e0000009200000096000000980000009a0000009c0000007c42ee01fe0160c143078dd077739dfee33261041b050c1f35a2a761f0e47167bbfb85907f01ff9b"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 4,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 4,
                   :numbers {:min 0.0, :max 8640.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 4,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
